.anh img {
    margin-left:230px;
}
.card-group {
    padding:50px;
    margin-left:15px;
}
.col-sm-4 {
    margin-bottom:40px;
    padding-left:50px;
}
.col-sm-8 {
    padding-left:250px;
}
.row {
    box-shadow: 10px 10px 10px 10px gray;
    margin-left: 90px;
}
.menuu {
    text-shadow: 2px 2px 50px black;
    color:white;
    padding:20px;
    clear: both;
  }
.card-title 
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(173, 14, 14);
    color:green;
    padding:20px;
}